<link rel="stylesheet" href="src/pages/home.page.css">
<section id="heading" class="text-center">
    <h1>Welcome to SkillSwap!</h1>
    <a href="#login" class="btn btn-primary">Sign Up / Sign In</a>
</section>
<section id="features">
    <h2>Features</h2>
    <div class="d-flex flex-wrap">
        <div class="card m-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Feature 1</h5>
                <p class="card-text">Description of feature 1.</p>
            </div>
        </div>
        <div class="card m-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Feature 2</h5>
                <p class="card-text">Description of feature 2.</p>
            </div>
        </div>
        <div class="card m-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Feature 3</h5>
                <p class="card-text">Description of feature 3.</p>
            </div>
        </div>
    </div>
</section>

This is home page. 
<br>
Task: Implement homepage with following points:
<ul>
    <li>Sign up/ Sign in Button to switch to Login/register page</li>
    <li>Show description and features of applications</li>
</ul>